*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff;
}
.navbar-brand{
    color:brown;
    font-size: 35px;
    font-family: Arial;
    
}
.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(background.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 109vh;    
}
.container{
    color: #fff;
    position: relative;
    top: 200px;
}
body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
img{
    position: relative; left: 70px; top: 90px;
}

